name: LaTeX Build and Cloudflare Pages Deployment

on:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-files:
    runs-on: ubuntu-latest
    outputs:
      pdf: ${{ steps.filter.outputs.pdf }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check for PDF build changes
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            pdf:
              - '**/*.tex'
              - '.github/workflows/latex-pdf.yml'

  build-pdf:
    if: ${{ needs.check-files.outputs.pdf == 'true' }}
    runs-on: ubuntu-latest
    needs: check-files
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Cache TeX Live setup
        id: cache-texlive
        uses: actions/cache@v3
        with:
          path: |
            ~/.texlive
            /usr/local/texlive
            /usr/bin
          key: ${{ runner.os }}-latex-${{ hashFiles('**/*.tex') }}
      - name: Install minimal TeX Live setup
        if: steps.cache-texlive.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update && \
          sudo apt-get install texlive-base texlive-fonts-recommended texlive-latex-base texlive-latex-extra texlive-fonts-extra --no-install-recommends -y
      - name: Compile LaTeX to PDF
        run: |
          find . -type f -name "*.tex" | while read file; do
            mkdir -p "$(dirname "$file")/build"
            pdflatex -output-directory="$(dirname "$file")/build" "$file"
          done
      - name: Commit and push PDFs
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          find . -type f -name "*.pdf" | while read pdf_file; do
            git add "$pdf_file"
          done
          if [[ $(git status --porcelain) ]]; then
            git commit -m "Automatically generated PDFs for latest changes"
            git push --force
          fi

  deploy-to-cloudflare:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Cloudflare Pages
        run: |
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/d8be5784-2608-4703-9f03-5c84300963ec"
